  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="h4 text-white">はじめまして</h4>
              <p class="text-white">あなたもユーザー登録して食品を管理しましょう！！</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">

              <ul class="list-unstyled">
                <%= link_to 'New Account', home_posts_path, class: "btn btn-info mt-1"%>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
            aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="btn btn-success">初めての方はこちら</span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading display-3">FOOD-CHECK</h1>
          <p class="lead text-muted">ようこそ。FOOD-CHECKでは、みなさんが投稿したアレルギー食品を共有することができます。</p>
        </div>
        <div class="container mt-3">
          <div class="row">
            <% if user_signed_in? %>
            <div class="col-4 py-2">
              <span>Hello!! </span>
              <%= current_user.nickname  %>
              <span>さん</span>
            </div>
            <div class="col-4">
              <%= link_to '新規投稿', new_post_path, class: "btn btn-info btn-lg"%>
            </div>
            <div class="col-4 py-2">
              <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-info", method: :delete %>
            </div>
          </div>
          <% else %>
          <div class="col-4">
          </div>
          <div class="col-4">
          </div>
          <div class="col-4">
            <%= link_to 'Log in..', new_user_session_path, class: "btn btn-info"%>
          </div>
          <% end %>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row md-2 ">
            <% @posts.each do |post| %>
            <div class="card  col-5 flex-md-row m-4 shadow-sm h-md-250 py-3">
              <div class="card-body d-flex flex-column align-items-start">

                <h1 class="d-inline-block mb-2 text-primary"><%=post.name%></h1>
                <div class="mb-1 text-muted"><%=post.created_at%></div>
                <%=post.user.nickname%>


                <div class="btn-group">
                  <%= link_to '詳しく見る', post_path(post.id), class: "btn btn-sm btn-outline-secondary"%>
                </div>

              </div>
              <div class="image ">
                <%= image_tag "#{post.photo.url}", class: "miniphoto" %>
              </div>
            </div>
            <% end %>
          </div>
    </main>

    <div class="footer">© 2021 FOOD-CHECK</div>

    </html>