<div class="container">
  <div class="header display-2">FOOD-CHECK</div>
</div>

<div class="container">
  <div class="row">
    <h1 class="display-3 ml-3 my-2"> <%=@post.name%></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="myphoto mx-auto img-fulied ">
        <%= image_tag "#{@post.photo.url}", class: "miniphoto" %>
      </div>
    </div>
    <div class="col-lg-6 mt-3 col-12">
      <p class=h4>食品のアレルギー表示対象品目</p>
      <% @post.tags.each do |tag| %>
      <div class="btn btn-outline-primary">
        <%=tag.tag_name%>
      </div>
      <% end %>
      <p class="h4 mt-3">投稿者</p>
      <div class="">
        <%=link_to @post.user.nickname, user_path(@post.user.id), class: "btn btn-outline-primary"%>
      </div>
    </div>
  </div>
</div>
<div class="container  my-5 pl-4">
  <p class=h3>Description</p>
  <div class="h4 text-break">
    <%=@post.content%>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 ml-2"> <%= link_to '一覧に戻る', root_path,class: "btn btn-info"%>
    </div>
    <div class="col-4">
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to '商品を削除する', post_path(@post.id), class: "btn btn-danger", method: :delete %>
      <%= link_to '商品を編集する', edit_post_path(@post.id),class: "btn btn-info"%>
      <% end %>

    </div>
    <div class="col-4"></div>
  </div>

</div>




<div class="container footer">© 2021 FOOD-CHECK</div>